@import "style.css";

.mask {
    height: 200px;
    width: 100%;
    background-color: white;
    text-align: center;
    font-size: 50px;
}
.mask2 {
    height: 150px;
    width: 100%;
    background-color: white;
    text-align: center;
    font-size: 50px;
}

.bgclubprop {
    left: 70%;
    bottom: 0%;
    width: 13%;
    height: auto;
    position: fixed;
}

.sidebarr {
    background-color: #d9d9d9cc;
    width: 27%;
    height: 40vh;
    position:absolute;
    margin-right: 50px;
    overflow-y: scroll;
}

.sidebarr::-webkit-scrollbar {
    display: none;
}

.iut {
    position: relative;
    bottom: 80px;
}

.r {
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
    background-color: white;
}

.v {
    flex: 1;
    text-align: center;
}

.i {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

.ibn {
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.ibn:active {
    background: #e5e5e5;
    outline: none;
    box-shadow: 0 0 0 white;
}


/* member */
.mod {
    height: 50px;
    width: 350px;
    position: relative;
    background-color: var(--vista);
    text-align: center;
    font-size: 30px;
    color: white;
    border-radius: 10px;
}

.mod1 {
    height: 30px;
    width: 280px;
    position: relative;
    background-color: #d9d9d9d9;
    text-align: left;
    font-size: 20px;
    color: black;
}

.peo {
    height: 50px;
    width: 350px;
    top: 100px;
    position: relative;
    background-color: var(--melon);
    text-align: center;
    font-size: 30px;
    color: white;
    border-radius: 10px;
}

.peo1 {
    height: 30px;
    width: 280px;
    position: relative;
    background-color: #d9d9d9d9;
    text-align: left;
    font-size: 20px;
    color: black;
}


/* achievements */
.achi {
    height: 300px;
    width: 500px;
    text-align: center;
    color: black;
    font-size: 25px;
    padding: 15px;
    background-color: #87CEEB;
    position: relative;
    left: 150px;
}

.achi1 {
    height: 160px;
    width: 450px;
    text-align: center;
    color: black;
    font-size: 20px;
    padding: 20px;
    background-color: white;
    position: relative;
}