@import "style.css";

:root{
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;
    --sticky-top-left: 5.4rem;
    --stricky-top-right: 18rem;
}

.bg2 {
    background: url('bgmask.svg') no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.bgprop{
    left: 73%;
    top: 73%;
    width: 20%;
    height: auto;
    margin: 0;
    position: fixed;
}

.cards{
    width: 100%;
    display:block;
    font-size: x-large;
    height: 80px;
    line-height:65px;
}
  
.create-post-container{
    background-color: white;
    z-index:3;
    position: sticky;
    margin-top: 0.75rem;
    padding: 1rem 1rem;
    top: 0;
    border-radius: 10px;
}

