@import "style.css";

:root {
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;
    --sticky-top-left: 5.4rem;
    --stricky-top-right: 18rem;
}

.bg2 {
    background: url('bgmask.svg');
    background-position: center;
     background-attachment: fixed; 
     min-height: 90vh;
}

.bgprop {
    left: 73%;
    bottom: 0%;
    width: 20%;
    height: auto;
    position: fixed;
}

.bggroupprop {
    left: 75%;
    bottom: 0%;
    width: 15%;
    height: auto;
    position: fixed;
}

.cards {
    width: 100%;
    display: block;
    font-size: x-large;
    height: 80px;
    line-height: 65px;
}
.classcards {
    width: 100%;
    display: block;
    height: 80px;
    line-height: 65px;
}
.anc {
    font-size: 10px;
}

.anc:hover {
    color: var(--vista) !important;
}

.PopEvent {
    position: fixed;

    left: 35%;
    top: 35%;

    width: 30%;
    height: auto;

    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 10px black;
}

.modal-backdrop {
    background: #00000066;
    height: 100%;
    width: 100vw;
    overflow: hidden;
}
.PopEdit {
    position: fixed;

    left: 30%;
    top: 35%;

    width: 40%;
    height: 30%;

    border: 1px solid black;
    box-shadow: 1px 1px 10px black;

    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.PopCreate {
    position: fixed;

    left: 17%;
    top: 10%;

    width: 65%;
    height: 85%;

    border: 1px solid black;
    box-shadow: 1px 1px 10px black;

    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.popup-x {
    width: 3em;
    height: 2em;
    border: none;
    align-self: flex-end;
    background-color: #d9d9d9;
}

.form-contain {
    width: 35%;
    position: fixed;
    left: 50%;
    top: 49%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.box {
    background-color: #d9d9d9;
    border-radius: 25px;
    resize: none;
}

.btn_modal {
    background-color: var(--vista);
    border-radius: 0;
    border: none;
    width: 30%;
    color: black;
}

.create-post-container button {
    margin-top: 2rem;
    margin-left: 94%;
}

.create-post-container textarea {
    resize: none;
}

.feed {
    background-color: white;
    top: 0.75rem;
    border-radius: 10px;
    overflow: scroll hidden;
}

.feed-img {
    width: 22rem;
    height: 19rem;
}

.feed a {
    color: black;
}

.add-post-links a {
    color: black;
    text-decoration: none;
}

.gallery {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 10vw);
    grid-template-rows: auto; 
    grid-gap: .1rem;
}

.gallery_item {
    width: 100%;
    height: 100%;
    object-fit: fit;
    display: block;
}

.sidebar {
    background-color: #d9d9d9cc;
    width: 27%;
    height: 80vh;
    position: fixed;
    margin-right: 50px;
    overflow-y: scroll;
}
.sidebar::-webkit-scrollbar {
    display: none;
  }
  