@import "style.css";
 html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
}

header{
    height: 220px;
    width: 100%;
    color:black;
    background-color: var(--crystal);
}

.wrapper{
    height: 140px;
    width: 140px;
    position: relative;
    top: 60px;
    left: 160px;
    border: 2px solid white;
    border-radius: 50%;
    /* background: url('profile_pic.png'); */
    background-size: 100% 100%;
    overflow: hidden;
}

.my_file{
    position: absolute;
    bottom: 0;
    outline: none;
    color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding: 6px 20px;
    cursor: pointer;
    transition: 0.5s;
    opacity: 0;
}

.my_file::-webkit-file-upload-button{
    visibility: hidden;
}

.my_file:hover{
    opacity: 1;
}

.c{
    position: relative;
    top: 90px;
    left: 45px;
}

.p{
    position: relative;
    left: 42.5px;
}

.name{
    position: relative;
    left: 350px;
    bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.ib{
    position: relative;
    left: 350px;
    bottom: 25px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 2px;
}

.id{
    position: relative;
    left: 350px;
    bottom: 25px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 2px;
}

#section1{
    height: 31.25rem;
    background: white;
    display: inline-block;
    width: 100%;
}

#section2{
    margin-top: 25%;
    align-content: center;
}

.sec2{
    height: 100%;
    width: 65%;
    color: black;
    background-color: #dadada;
    position: relative;
    left: 20%;
}

#roomblock,#placeblock,#timeblock{
    display:inline-block;
}

#detailsblock, #entergblock{
    display: inline-block;
}

.clc{
    width: 15%;
    height: 10%;
    position: relative;
    left: 10%;
    bottom: 20%;
}
.room{
    width: 15%;
    height: 10%;
    position: relative;
    bottom: 15%;
    left: 45%;
}
.d{
    width: 15%;
    height: 10%;;
    position: relative;
    bottom: 15%;
    left: 35%;
    border-radius: 10%;
}
.t{
    width: 15%;
    height: 10%;;
    position: relative;
    bottom: 15%;
    left: 40%;
    border-radius: 10%;
}

.details{
    width: 40%;
    height: 100%;
    position: relative;
    background-color: white;
    bottom: 0%;
    left: 25%;
    margin-top: 5%;
}
.cdetails{
    width: 21rem;
    height: 6.8rem;
    position: relative;
    background-color: white;
    bottom: 0;
    left: 20%;
}


.dd{
    position: relative;
    left: 35px;
    top: 10px
}

.click{
    background-color: white;   
}

.click:hover{
    background-color: #F8C8DC;
}

.click,.links{
    padding: 12px;
    font-size: 1em;
    border: none;
    outline: none;
    width: 100px;
    color: black;
    transition: 0.3s;
}

.list{
    position: absolute;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
}

.newlist{
    transform: scaleY(1);
}

.links{
    background-color: #F7FFA3;
}

.links:hover{
    background-color: #FFA3F7;
    transform: scale(1.1);
}

.r{
    position: relative;
    left: 35px;
    top: 10px
}

.enterg{
    position: relative;
    left: 70%;
}

.enterc{
    position: relative;
    left: 70%;
}

.e{
    position: relative;
    width: 90px;
    height: 48px;
    background: #8BC6FC;    ;
    color: black;
    border: none;
}

#section3{
    margin-top: 15%;
    align-content: center;
}

.sec3{
    height: 100%;
    width: 65%;
    color: black;
    background-color: #dadada;
    position: relative;
    left: 20%;
}

.clc1{
    width: 200px;
    height: 30px;
    position: relative;
    left: 150px;
    bottom: 221px;
}

.click1{
    background-color: white;   
}

.click1:hover{
    background-color: #F8C8DC;
}

.click1,.links1{
    padding: 12px;
    font-size: 1em;
    border: none;
    outline: none;
    width: 100px;
    color: black;
    transition: 0.3s;
}

.list1{
    position: absolute;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
}

.newlist1{
    transform: scaleY(1);
}

.links1{
    background-color: #F7FFA3;
}

.links1:hover{
    background-color: #FFA3F7;
    transform: scale(1.1);
}

.croom{
    width: 100px;
    height: 48px;
    position: relative;
    background-color: white;
    bottom: 15px;
    left: 37.5%;
}

.cr{
    position: relative;
    left: 35px;
    top: 10px
}

.cdate{
    width: 200px;
    height: 48px;
    position: relative;
    background-color: white;
    bottom: 62.5px;
    left: 55%;
}

.cd{
    position: relative;
    left: 35px;
    top: 10px
}
.cdd{
    position: relative;
    left: 35px;
    top: 10px
}

.enter1{
    position: relative;
    left: 61.75%;
    bottom: -5px;
}

.e1{
    position: relative;
    width: 90px;
    height: 48px;
    background: #8BC6FC;    ;
    color: black;
    border: none;
}

.container{
    text-align: center;
    margin-top: -20px;
    font-size: 15px;
}

.role{
    position: relative;
    right: 350px;
    top: 77px;
    font-size: 15px;
}

.btnn{
    border: 1.3px solid black;
    background: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 30px;
}

.btn1{
    background: #DADADA;
}

.em{
    position: relative;
    left: 285px;
}

.email{
    position: relative;
    left: 245px;
    font-size: 15px;
}

.pp{
    position: relative;
    left: 285px;
}

.p{
    position: relative;
    top: 20px;
    right: 27px;
}

.password{
    position: relative;
    left: -40px;
    font-size: 15px;
    top: 20px;
}

.c_s{
    position: relative;
    left: 300px;
    bottom: 90px;
    font-size: 15px;
    color: black;
    margin: 20px;
    top: 10px;
}

.change{
    padding: 20px;
}

.all{
    position: relative;
    left: 265px;
    font-size: 15px;
    top: 55px;
}

.chk {
    height: 0;
    width: 0;
    visibility: hidden;
} 

 .labell{
    cursor: pointer;
    position: relative;
    left: 220px;
    bottom: 60px;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    background: #dadada;
    display: block;
    border-radius: 100px;
    position: relative;
    transition: all 0.5s;
} 

.s{
    position: absolute;
    bottom: 62px;
    left: 225px;
    right: 82vw;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 90px;
    transition: 0.5s;
    transform-origin: 105% 50%;
    pointer-events: none;
}

input:checked + label{
    transform: rotate(180deg);
}

input:checked ~ .s{
    transform: rotate(-180deg);
    background: black;
} 