@import "style.css";

:root {
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;
    --sticky-top-left: 5.4rem;
    --stricky-top-right: 18rem;
}

.bg2 {
    background: url('bgmask.svg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
}

.bgprop {
    left: 73%;
    bottom: 0%;
    width: 20%;
    height: auto;
    position: fixed;
}

.bgshopprop {
    left: 1%;
    bottom: 0%;
    width: auto;
    height: 35%;
    position: fixed;
}

/* .classcards {
    width: 100%;
    display: block; 
    height: 80px;
    line-height: 65px; }*/


.anc {
    font-size: 10px;
}

.anc:hover {
    color: var(--vista) !important;
}


.Pop{
    position: fixed;

    left:17%;
    top: 10%;

    width: 65%;
    height: 85%;

    border: 1px solid black;
    box-shadow: 1px 1px 10px black;

    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.popup-x {
    width: 3em;
    height: 2em;
    border: none;
    align-self: flex-end;
    background-color: #d9d9d9;
}

.form-contain {
    width: 35%;
    position: fixed;
    left: 50%;
    top: 49%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.form-contain_create {
    width: 59%;
    background-color: white;
}

.box {
    background-color: #d9d9d9;
    border-radius: 25px;
    resize: none;
}

.btn_modal {
    background-color: var(--vista);
    border-radius: 0;
    border: none;
    width: 30%;
    color: black;
}

