@import "style.css";

:root {
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;
    --sticky-top-left: 5.4rem;
    --stricky-top-right: 18rem;
}

.bgshopprop {
    left: 1%;
    bottom: 0%;
    width: auto;
    height: 35%;
    position: fixed;
}
