:root {
    color: black;
    --crystal: #a6dfda;
    --melon: #feb8b3;
    --caramel: #FED58A;
    --vista: #7D99DA;
}

@font-face {
    font-family: marker;
    src: url("./PermanentMarker.ttf");
    ;
}

@font-face {
    font-family: comfortaa;
    src: url("./Comfortaa-Regular.ttf");
}

@font-face {
    font-family: kokoro;
    src: url("./Kokoro-Regular.ttf");
    ;
}

@font-face {
    font-family: actor;
    src: url("./Actor-Regular.ttf");
    ;
}

@font-face {
    font-family: inter;
    src: url("./Inter-Regular.ttf");
    ;
}