:root {
    color: black;
    --crystal: #a6dfda;
    --melon: #feb8b3;
    --caramel: #FED58A;
    --vista: #7D99DA;
}

@font-face {
    font-family: marker;
    src: url("./PermanentMarker.ttf");
}

.marker {
    font-family: marker;
}

@font-face {
    font-family: comfortaa;
    src: url("./Comfortaa-Regular.ttf");
}

.comfortaa {
    font-family: comfortaa;
}

@font-face {
    font-family: kokoro;
    src: url("./Kokoro-Regular.ttf");
}

.kokoro {
    font-family: kokoro;
}

@font-face {
    font-family: actor;
    src: url("./Actor-Regular.ttf");
}

.actor {
    font-family: actor;
}

@font-face {
    font-family: inter;
    src: url("./Inter-Regular.ttf");
}

.inter {
    font-family: inter;
}


a {
    cursor: pointer;
}

.Toastify__toast--success {
    border: 1px solid black;
    background: #Ffffff;
}

.Toastify__toast-body {
    font-family: comfortaa;
    color: black;
}

.toastProgress {
    background: var(--crystal);
}