@import "style.css";

.bg {
    background: url('bgcover.svg') no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.form-container {
    background-color: var(--crystal);
    padding: 50px 40px;
    border: 1px none;
    width: 45%;
    position: fixed;
    padding: 1em;
    left: 46%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bt {
    border-radius: 0;
    min-width: 250px;
}

a {
    text-decoration: none;
    color: black;
}