:root {
    --crystal: #a6dfda;
    --melon: #feb8b3;
    --caramel: #FED58A;
    --vista: #7D99DA;
}

@font-face {
    font-family: marker;
    src: url("../static/PermanentMarker.ttf");
    ;
}

@font-face {
    font-family: comfortaa;
    src: url("../static/Comfortaa-Regular.ttf");
}

@font-face {
    font-family: kokoro;
    src: url("../static/PermanentMarker.ttf");
    ;
}

@font-face {
    font-family: actor;
    src: url("../static/Actor-Regular.ttf");
    ;
}

@font-face {
    font-family: inter;
    src: url("../static/Inter-Regular.ttf");
    ;
}